<div class="jumbotron jumbotron-fluid">
  <div class="title">
     <p><u>Quiz Hub</u><br>Take a Quiz and <br>Test your knowledge</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">         
          <div class="hr-title">
              <h4 class="detal">WelCome To QuizHub </h4><h5 class="detal">A Single Page Web Application To Test Your Skills In Real-Time.</h5>
              <hr>
              <ul class="details">
                <li>QuizHub is a single page Online Examination portal.</li><br>
                <li>User will be attempting the Tests which are created by Admin. And get the result at same time</li><br>
                <li>Admin Creates the Tests</li><br>
                <li>Test Performance is tracked by both User and Admin</li>
              </ul>
              <div class="text-center"><br>
                <a href="/login" role="button" class="btn btn-primary btn-lg"><i class="fa fa-user"></i>  Login or SignUp</a>
              </div>
          </div>
    </div>
  </div>
</div>